.update-password-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.update-password-title{
    padding-bottom: 20px;
}
.update-password-button{
    width: 400px;
}