.update-password-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.update-password-title{
    padding-bottom: 25px;
}
.update-password-button{
    width: 320px;
}