.circle:first-child{
    display: block;
    top: -100%;
    left: -52%;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    width: 103%;
    height: 201%;
    background-color: #F9FFA1;
}

.add-subtitle{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 30px;

}

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}
textarea{
  max-width: 600px;
  max-height: 400px;
  height: 200px;
  width: 500px;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.form-button{
    display: flex;
    gap: 10px;
}
button{
    cursor: pointer;
    border-radius: 50px;
    font-size: 2rem;
    background-color: #FFC4C4;
    padding: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}