.circle:first-child{
    display: block;
    top: -100%;
    left: -52%;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    width: 103%;
    height: 201%;
    background-color: #F9FFA1;
}

.add-subtitle{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 3rem;

}

/* .form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
} */
textarea{
 width: 100%;
  padding: 0.6rem 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.form-button{
    display: flex;
}
button{
    cursor: pointer;
    border-radius: 20px;
    color: 2rem;
    background-color: #FFC4C4;
    padding: 1rem;
}