.circle:first-child{
    display: block;
    top: -100%;
    left: -52%;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    width: 103%;
    height: 201%;
    background-color: #F9FFA1;
}

.add-subtitle{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 18px;

}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
textarea{
  max-width: 800px;
  max-height: 400px;
  height: 300px;
  width: 600px;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 50px;
  resize: vertical;
}

.form-button{
    display: flex;
    gap: 20px;
}
button{
    width: 200px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 25px;
    background-color: #FFC4C4;
    padding: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}