.circle-bottom{
     display: block;
    bottom: -110%;
    right: -50%;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    width: 103%;
    height: 201%;
    background-color: #F9FFA1;
}

.subtitle h1{
  display: inline-block;
  padding: 1rem;
  font-size: 30px;
  background-color: #FFC4C4;
  margin: 3rem;

}

.tasks-list{
display: flex;
flex-direction: column;
margin: 3rem;
width:70%;
font-size: 20px;
}

.task-item{
  display: flex;
  justify-content: space-between;
  background-color: #FFC4C4;
  padding:1rem;
  margin-bottom: 3px;
  box-shadow: 1px 1px 1px #FFC4C4;
  
}



