.circle-bottom{
     display: block;
    bottom: -110%;
    right: -50%;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    width: 103%;
    height: 201%;
    background-color: #F9FFA1;
}

.subtitle h1{
  display: inline-block;
  padding: 1rem;
  font-size: 30px;
  background-color: #FFC4C4;
  margin: 3rem;

}

.tasks-list{
display: flex;
flex-direction: column;
margin-left: 3rem;
margin-right: 3rem;
width:70%;
font-size: 20px;
}

.task-item{
  display: flex;
  justify-content: space-between;
  background-color: #FFC4C4;
  padding: 10px;
  margin-bottom: 5px;
  
}

.checkbox-text {
  display: flex;
  align-items: center; 
  gap: 0.5rem;      
}

.checkbox-text input[type="checkbox"] {
  transform: scale(1.5); 

}
input[type="checkbox"] {
  margin: 0;          
  padding: 0;         
  vertical-align: middle; 
}
.task-actions{
  display: flex;
  gap: 6px;
}

.completed{
  background-color:#C4FFC4;

}