
.reset-password-modal {
    top:0;
    left: 0;
    position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  z-index: 9999; /* Make sure it's on top */
}
.reset-password-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC4C4;
    padding: 40px;
    border-radius: 10px;
    gap: 40px;
}   

.error{
    color: red;
}
.reset-password-button{
    padding: 15px;
  width: 200px;
  cursor: pointer;
  background-color: #F9FFA1;
  border-radius: 20px;
  font-size: 1rem;
}

.back-to-login{
    cursor: pointer;
}