.circle:first-child{
    display: block;
    top: -100%;
    left: -52%;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    width: 103%;
    height: 201%;
    background-color: #F9FFA1;
}
.circle:nth-child(2){
    display: block;
    bottom: -110%;
    right: -50%;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    width: 103%;
    height: 201%;
    background-color: #F9FFA1;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.title h1{
    font-size: 6rem ;

}
.title h2{
    padding-top: 40px;
    font-size: 2rem;
}